@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --titulos:"Montserrat";
    --parrafos:"Roboto";
    --orange:#FF9372;
    --green:#00D695;
    --pink:#FF93F1;
    --yellow:#FFD900;
    --azul:#1E50E6;
    --orangeShadow:#ff937276;
    --darkPink:#A9369A;
    --darkGreen:#679B4E;

}

body{
    font-size: 16px;
}

h1,h2,h3{
    font-family: var(--titulos);
}

p,a{
    font-family: var(--parrafos);
}

        /* MENU */
header{
    position: fixed;
    width: 100%;
    font-family:var(--titulos);
    background-color: transparent;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

nav div{
    display: flex;
}

nav>div img{
    width: 100px;
    height: 60px;
}

nav div:nth-child(2){
    width: 40%;
}

nav div:nth-child(2) ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a{
    text-decoration: none;
    color:black;
}

nav div:nth-child(3){
    gap: 20px;
    align-items: center;
}

nav div:nth-child(3) input{
    height: 25px;
}

nav div:nth-child(3) img{
    height: 20px;
    width: 20px;
}


/* BANNER */
#banner div{
    height: 100vh;
    background-image: url(./img/portada.png);
    background-size:cover;
}

    /* PRODUCTOS ESTRELLA */

#best-sellers{
    padding-bottom: 10%;
}

#best-sellers>div{
    width: 80%;
    padding-top: 40px;
    margin: auto;
}


#best-sellers>div>div{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}

#best-sellers div img{
    width: 200px;
    height: 200px;
}

#best-sellers div p{
    font-family: var(--titulos);
    font-weight: bold;
}

#best-sellers>div>div div{
    padding:35px;
    border-radius: 10px;
    line-height: 35px;
}

#best-sellers>div>div div:nth-child(1){
    background-color: #FF9372;
}

#best-sellers>div>div div:nth-child(2){
    background-color: #00D695;
}

#best-sellers>div>div div:nth-child(3){
    background-color: #FF93F1;
}

#best-sellers>div>div div:nth-child(4){
    background-color: #FFD900;
}


#best-sellers>div>div div:nth-child(1):hover{
    box-shadow: 0px 0px 20px 0px #ff937276,
    0 0px 20px #ff937276, /* Resplandor cercano */
    0 0px 25px 1px #ff937276; /* Color secundario del resplandor */
}

#best-sellers>div>div div:nth-child(2):hover{
    box-shadow: 0px 0px 10px 0px #00d69684,
    0 0px 20px #00d69684, /* Resplandor cercano */
    0 0px 25px 1px #00d69684; /* Color secundario del resplandor */
}

#best-sellers>div>div div:nth-child(3):hover{
    box-shadow: 0px 0px 10px 0px #ff93f18d,
    0 0px 20px #ff93f18d, /* Resplandor cercano */
    0 0px 25px 1px #ff93f18d; /* Color secundario del resplandor */
}

#best-sellers>div>div div:nth-child(4):hover{
    box-shadow: 0px 0px 10px 0px #ffd9007f,
    0 0px 20px #ffd9007f, /* Resplandor cercano */
    0 0px 25px 1px #ffd9007f; /* Color secundario del resplandor */
}



/* SECCIÓN 2 - MÁS SOBRE FINI */
#moreFini{
    padding-bottom:10%;
}
#moreFini>div{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 25px;
    background-color: #D6DFFA;
    box-shadow: 10px 5px 11px rgb(78, 78, 78),
    -0px -1px 10px #D6DFFA;
    border-radius: 20px;
}

#moreFini>div div:nth-child(1){
    width: 60%;
    padding: 0 50px;
}

#moreFini>div div:nth-child(1) h3{
    font-size: 3.4rem;
    margin-bottom: 25px;
}

#moreFini>div div:nth-child(1) p{
    margin-bottom: 200px;
    font-size: 1.5rem;
}

#moreFini>div>div>div{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#moreFini>div>div>div a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px 30px;
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4),
    0 0 10px rgba(0, 0, 0, 0.4), /*Resplandor cercano*/
    /* 0 0 15px 0px rgba(0, 0, 0, 0.5); Color secundario del resplandor  */
    box-shadow: 7px 0px 11px rgba(112, 112, 112, 0.5),
     -0px -1px 10px rgba(112, 112, 112, 0.5);
}


#moreFini>div>div>div a:hover{
    box-shadow: 7px 0px 11px #9747FF,
     -0px -1px 10px #9747FF;
}


/* VENTAS */

#sell-number div{
    display: flex;
    background-color:#FFF4F4;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: var(--titulos);
    font-weight:300;
}

/* NOTICIAS */
#noticias{
    display: flex;
    overflow-x: hidden;
}

#noticias .articulos{
    display: flex;
    gap: 30px;
    padding: 20px;
}

#noticias article{
    height: 20%;
    background-color: #00D695;
}

#noticias article img{
    width: 600px;
    height: 400px;
}

#noticias article a:nth-child(1){
    text-decoration: none;
    color: black;
}

.iconos{
    position: absolute;
    display: flex;
    width: 100%;
}

.iconos img{
    width: 70px;
    height: 70px;
}

.iconos div:nth-child(1){
    position: absolute;
    top:200px;
}

.iconos div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    top:200px;
}


/* PÁGINA 2 - CONOCENOS */

/* BANNER */
#about-banner div{
    height: 100vh;
    background-image: url(./img/about_banner.png);
    background-size:cover;
}

/* AÑOS AL FRENTE */
#leading-years div{
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    font-family: var(--titulos);
    font-weight:300;
    background: linear-gradient(white 90%,#08038D);
}

/* HISTORIA DE LA EMPRESA */
#brand-journey{
    background-color: #08038D;
}

#brand-journey h2, #brand-journey p{
    text-align: center;
    color: white;
}

#brand-journey h2{
    font-size: 4rem;
    padding: 5% 0;
}

#brand-journey p{
    width: 70%;
    margin: auto;
    text-wrap:wrap;
    font-size: 2rem;
    padding-bottom: 5%;
}

#brand-journey div{
    height: 100vh;
    background-image: url(./img/linea_temporal_historia.png);
    background-size: cover;
}

/* COMPROMISO */
#projects-preview h2{
    text-align: center;
    font-size: 3.5rem;
    padding: 5% 0;
}

#projects-preview>div{
    display: flex;
    margin: auto;
    width: 80%;
    background-color: #BBD2D2;
    border-radius: 20px;
    box-shadow: 7px 0px 11px rgba(84, 84, 84, 0.5),
     -0px -1px 10px rgba(84, 84, 84, 0.5);
}

#projects-preview div:nth-child(2) img{
    width: 500px;
    height: auto;
    margin: 50px;
    border-radius: 50px;
    box-shadow: 7px 0px 11px rgba(112, 112, 112, 0.5),
     -0px -1px 10px rgba(112, 112, 112, 0.5);
}

#projects-preview .text-preview{
    margin:80px 70px;
    width: 60%;
    font-size: 1.3rem;
}

#projects-preview .text-preview p{
    padding-bottom: 35px;
}

#projects-preview .text-preview>p:nth-child(3){
    padding-top: 35px;
}

/* #projects-preview>div div:nth-child(2)>div{
    width: 40%; 
} */

#projects-preview>div div:nth-child(2)>div a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 20px 60px;
    background-color: whitesmoke;
    border:solid 1px black;
    border-radius: 15px;
    text-align: center;
}

#projects-preview>div div:nth-child(2) ul{
    list-style-position: inside;
    line-height: 40px;
    font-family: var(--parrafos);
    font-size: 1.3rem;
}

/* TERCERA PÁGINA - COMPROMISO SOCIAL Y MEDIOAMBIENTAL */

#commitment-banner div{
    height: 100vh;
    background-image: url(./img/commitment-banner.png);
    background-size: cover;
}


/* PRIORIDADES */
#brand-goals div:nth-child(1){
    display: flex;
    padding: 5% 0px;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}

#brand-goals div:nth-child(1) h2{
    font-size: 5rem;
}

#brand-goals div:nth-child(1) p{
    width: 50%;
    font-size: 1.3rem;
    padding-top: 15px;
}

#brand-goals div:nth-child(2) img{
    width: 250px;
    height: auto;
    border-radius: 20px;
}

#brand-goals div:nth-child(2){
    padding-bottom:2%;
}

#brand-goals div:nth-child(2) div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0px;
}

#brand-goals div:nth-child(2) div:nth-child(1) img:nth-child(even){
    border: solid 1px black;
}

#brand-goals div:nth-child(2) div:nth-child(2) img:nth-child(odd){
    border: solid 1px black;
}


/* I+D */
#I_D div{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

#I_D div:nth-child(2){
    align-items: baseline;
    padding-bottom: 5%;
    /* justify-content: space-between;
    padding: 0 50px; */
}

#I_D div:nth-child(1) h2{
    font-size: 5rem;
    width: 50%;
}

#I_D div:nth-child(1) img{
    width: 40%;
}

#I_D div:nth-child(2) h2{
    font-size: 5rem;
    width: 47%;
}

#I_D div:nth-child(2) p{
    width: 40%;
    font-size: 1.3rem;
}


/* ACCIONES SOCIALES */

#social-projects h2{
    text-align: center;
    font-size: 3rem;
    padding:10px 0;
    width: 100%;
    background-color: var(--pink);
}

#social-projects .p1, .p2{
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

#social-projects .img-p img{
    width: 800px;
    border:solid 1px black;
}

#social-projects .tp{
    width: 40%;
    padding-right: 50px;
}

#social-projects .p1>div{
    padding-left: 40px;
}

#social-projects .tp p{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 50px;
}

#social-projects .tp h3{
    font-size:1.7rem;
}

#social-projects .mas img{
    width: 20px;
    height: auto;
}

#social-projects .mas a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    gap: 10px;
    padding: 15px 25px;
    border: solid 1px black;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: var(--titulos);
}

#social-projects .mas a:hover{
    box-shadow: 7px 0px 11px var(--pink),
     -0px -1px 11px var(--pink),
     -7px 0px 11px var(--pink);
}

#social-projects>div:last-child{
    margin: auto;
    width: 20%;
}

#social-projects>div:last-child img{
    width: 20px;
    height: auto;
}

#social-projects>div:last-child a{
    display:inline-flex;
    gap:10px;
    font-family: var(--titulos);
    font-size: 1.3rem;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    background-color: rgb(173, 173, 173);
}

#social-projects>div:last-child a:hover{
    background-color:var(--darkPink);
}

/* ACCIONES MEDIOAMBIENTALES */
#environment-projects{
    padding: 5% 0;
}
#environment-projects h2{
    text-align: center;
    font-size: 3rem;
    padding:10px 0;
    width: 100%;
    background-color: var(--green);
}

#environment-projects .p1, .p2{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

#environment-projects .p1 div:nth-child(2) img{
    width: 800px;
    height: auto;
    border:solid 1px black;
}

#environment-projects .p2 div:nth-child(1) img{
    width: 800px;
    height: auto;
    border:solid 1px black;
}


#environment-projects .tp{
    width: 40%;
    padding-right: 50px;
}

#environment-projects .p1>div{
    padding-left: 40px;
}

#environment-projects .tp p{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 50px;
}

#environment-projects .tp h3{
    font-size:1.7rem;
}

#environment-projects .mas img{
    width: 20px;
    height: auto;
}

#environment-projects .mas a{
    text-decoration: none;
    color: black;
    display: inline-flex;
    gap: 10px;
    padding: 15px 25px;
    border: solid 1px black;
    border-radius: 15px;
    font-size: 1.2rem;
    font-family: var(--titulos);
}

#environment-projects .mas a:hover{
    box-shadow: 7px 0px 11px var(--green),
     -0px -1px 11px var(--green),
     -7px 0px 11px var(--green);
}


#environment-projects>div:last-child{
    margin: auto;
    width: 20%;
}

#environment-projects>div:last-child img{
    width: 20px;
    height: auto;
}

#environment-projects>div:last-child a{
    display:inline-flex;
    gap:10px;
    font-family: var(--titulos);
    font-size: 1.3rem;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    background-color: rgb(173, 173, 173);
}

#environment-projects>div:last-child a:hover{
    background-color: var(--darkGreen);
}

/* SABER MÁS */
#know h2{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 50px;
}
#know div{
    margin: auto;
    width: 60%;
}

#know video{
    max-width:100%;
    margin: auto;
}


/* FOOTER */
footer{
    background-color: var(--azul);
    color: whitesmoke;
}

footer .footer-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer ul{
    list-style: none;
}

footer li{
    line-height: 60px;
}

footer a{
    text-decoration: none;
    color: whitesmoke;
    font-family: var(--titulos);
}

footer .rights{
    width: 80%;
    margin: auto;
}

footer .rights p{
    font-family: var(--titulos);
    padding: 15px 0;
}

.footer-container div:nth-child(3){
    padding-top: 3%;
    width: 30%;
}

.footer-container div:nth-child(3) input[type="email"]{
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: var(--parrafos);
}

.footer-container div:nth-child(3) a{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
    color: black;
}

.footer-container div:nth-child(3) a:hover{
    background-color: whitesmoke;
}